body {
    display: grid;
    font-family: 'Open-Sans', sans-serif;
    grid-template-columns: 3fr 9fr;
    margin: 0 auto;

    nav:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        background-image: url("./../img/mountains.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        filter: blur(2px) grayscale(90%) opacity(70%);
    }

    nav {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        position: relative;

        &:after {}

        header {
            padding: 0.5em;

            h1 {
                text-align: center;
                padding: .5em;
                font-variant: small-caps;
            }

            hr {
                width: 80%;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            padding: 10px 20px;

            li {
                list-style: none;
            }

            :hover {
                background-color: purple;
                border-radius: 6px;
                color: white;
            }

            .upgrade {
                justify-content: flex-end;
                margin-top: auto;
            }
        }

        a {
            color: #333333;
            display: block;
            text-decoration: none;
            padding: 1em 2em;

            i {
                padding-right: .8em;
            }
        }

        // margin-top: auto;
        // margin-bottom: 3em;
   
    }
}
