@import "./_nav";
@import "./_main";
@import "./_animate";

:root {
	--purple: purple;
	--light-grey: #77777777;
	--medium-grey: #777;
	--dark-grey: #444;
}

body {
	color: var(--dark-grey) !important;
	display: grid;
	font-family: "Open-Sans", sans-serif;
	grid-template-columns: 270px auto;
	margin: 0;
	overflow-x: hidden;

	& a {
		color: var(--dark-grey);
	}
}
