@import "./_nav";
@import "./_main";

:root {
	--purple: purple;
	--light-grey: #7777;
	--medium-grey: #777;
	--dark-grey: #444;
}

body {
	color: var(--dark-grey) !important;
	display: grid;
	font-family: "Open-Sans", sans-serif;
	grid-template-columns: 3fr 9fr;
	margin: 0 auto;
}
